/* HYDROGEN COLORS - PRINT */
/* intentionally more vivid, as printers tend to output somewhat desaturated colors */


:root {
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        #fff;
	--backgroundHilight: #eee;
	--backgroundFaint:   #f8f8f8;

	--foreground:        #000;
	--foregroundHilight: #004;
	--foregroundFaint:   #000c;


	--border: #888;
	--borderTop:             #999;
	--borderLeft:  #888;
	--borderRight:                #888;
	--borderBottom:        #777;


	--borderRadius: 3px;



  --gray:      #999;
	--red:       #f00;
	--orange:    #ea0;
	--yellow:    #cc0;
	--lime:      #ae0;
	--green:     #0e0;
	--aquagreen: #0c9;
	--cyan:      #0ba;
	--skyblue:   #0ad;
	--blue:      #00f;
	--purple:    #a0f;
	--pink:      #f0f;
	--hotpink:   #f0a;

  --grayMuted:      #aaa;
	--redMuted:       #f22;
	--orangeMuted:    #fc2;
	--yellowMuted:    #ff2;
	--limeMuted:      #bf2;
	--greenMuted:     #2f2;
	--aquagreenMuted: #2fb;
	--cyanMuted:      #2ef;
	--skyblueMuted:   #2bf;
	--blueMuted:      #22f;
	--purpleMuted:    #b2f;
	--pinkMuted:      #f2f;
	--hotpinkMuted:   #f2b;

  --grayHilight:      #888;
	--redHilight:       #f00;
	--orangeHilight:    #fa0;
	--yellowHilight:    #ff0;
	--limeHilight:      #af0;
	--greenHilight:     #0f0;
	--aquagreenHilight: #0fa;
	--cyanHilight:      #0ef;
	--skyblueHilight:   #0af;
	--blueHilight:      #00f;
	--purpleHilight:    #a0f;
	--pinkHilight:      #f0f;
	--hotpinkHilight:   #f0a;

  --grayFaint:      #999a;
	--redFaint:       #f00a;
	--orangeFaint:    #ea0a;
	--yellowFaint:    #cc0a;
	--limeFaint:      #ae0a;
	--greenFaint:     #0e0a;
	--aquagreenFaint: #0c9a;
	--cyanFaint:      #0baa;
	--skyblueFaint:   #0ada;
	--blueFaint:      #00fa;
	--purpleFaint:    #a0fa;
	--pinkFaint:      #f0fa;
	--hotpinkFaint:   #f0aa;


	--hilight: var(--skyblueHilight);
	--hilightHilight: var(--cyan);
	--hilightFaint: var(--skyblue);

	--DEFAULT_ACCENT: var(--blue);
	--DEFAULT_ACCENT_HILIGHT: var(--blueHilight);

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
}


/**********************************
**********************************/




/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: #dddc;
	--backgroundTop: #ddda;
	--backgroundBottom: #ddde;

	--foreground: #fff;
}

.navbar .dropdown .dropdownbutton {
	--background:              #dddc;
	--backgroundTop:           #f8f8f8cc;
	--backgroundBottom:        #cccc;

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #dddddd00;
	--foreground: #eee;
}



div.item:hover {
	--background: #dddddd33 !important;
}




button:not(.nohydrogen), input[type=color]:not(.nohydrogen),
input[type=checkbox]:not(.nohydrogen){
	--background:              #dddc;
	--backgroundTop:           #f8f8f8cc;
	--backgroundBottom:        #cccc;

	--decoration: #0000;
}

button:not(.nohydrogen).hilight {
	--background:       #ddd;
	--backgroundTop:    #f8f8f8;
	--backgroundBottom: #ccc;
	--foreground: #111;
}

button.faint:not(.nohydrogen) {
	--background:         #ddd8;
	--backgroundTop:      #f8f8f888;
	--backgroundBottom:   #ccc8;
	--foreground:   #444c;
	--borderTop:             #fff8;
	--borderLeft:  #fefefe88;
	--borderRight:                #fefefe88;
	--borderBottom:        #eee8;
}



/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default:not(.nohydrogen) {
	--borderTop:             #bdf;
	--borderLeft:  #bedefe;
	--borderRight:                #bedefe;
	--borderBottom:        #ace;
}

button.primary:not(.nohydrogen) {
	--background:              var(--blue);
	--backgroundTop:           var(--blueFaint);
	--backgroundBottom:        var(--blue);

	--foreground:        #eee;
}

button.success:not(.nohydrogen) {
	--background:              var(--green);
	--backgroundTop:           var(--greenFaint);
	--backgroundBottom:        var(--green);

	--foreground:        #eee;
}


button.info:not(.nohydrogen) {
	--background:              var(--skyblue);
	--backgroundTop:           var(--cyanFaint);
	--backgroundBottom:        var(--cyan);

	--foreground:        #444;
}

button.warning:not(.nohydrogen) {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellowFaint);
	--backgroundBottom:        var(--yellow);

	--foreground:        #444;
}

button.danger:not(.nohydrogen) {
	--background:              var(--red);
	--backgroundTop:           var(--redFaint);
	--backgroundBottom:        var(--red);

	--foreground:        #eee;
}

