/* HYDROGEN - DARK MODE COLOURS */
/* The Dark Side approves of this */


:root {
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        #333;
	--backgroundHilight: #222;
	--backgroundFaint:   #383838;

	--backgroundSecondary: #222;

	--foreground:        #ccc;
	--foregroundHilight: #eee;
	--foregroundFaint:   #cccc;


	--border: #808080;
	--borderTop:             #888;
	--borderLeft:  #808080;
	--borderRight:                #808080;
	--borderBottom:        #777;

	--ButtonHilight: #fff8;
	--ButtonLight: #fff3;
	--ButtonFace: #333;
	--ButtonShadow: #0007;
	--ButtonDkShadow: #000d;
	--WindowFrame: var(--hilight);
	
	--XButtonTopHi:                     #fff8;
	
	--XButtonTop:                      #fff4;
	--XButtonLeftHi:   #000c;
	--XButtonLeft:           #0004;
	--XButtonRight:                            #fff2;
	--XButtonRightHi:                                #fff6;
	--XButtonBottom:                #0008;
	
	--XButtonBottomHi:            #000f;


  --gray:      #aaa;
	--red:       #f44;
	--orange:    #b84;
	--yellow:    #aa4;
	--lime:      #8b4;
	--green:     #4b4;
	--aquagreen: #4a8;
	--cyan:      #49a;
	--skyblue:   #48b;
	--blue:      #44f;
	--purple:    #b4f;
	--pink:      #c4c;
	--hotpink:   #c4a;

  --grayMuted:      #999;
	--redMuted:       #a66;
	--orangeMuted:    #a86;
	--yellowMuted:    #aa6;
	--limeMuted:      #8a6;
	--greenMuted:     #6a6;
	--aquagreenMuted: #6a8;
	--cyanMuted:      #68a;
	--skyblueMuted:   #67a;
	--blueMuted:      #66a;
	--purpleMuted:    #86a;
	--pinkMuted:      #a6a;
	--hotpinkMuted:   #a68;

  --grayHilight:      #ccc;
	--redHilight:       #f55;
	--orangeHilight:    #fc2;
	--yellowHilight:    #ff2;
	--limeHilight:      #bf2;
	--greenHilight:     #2f2;
	--aquagreenHilight: #2fb;
	--cyanHilight:      #2ef;
	--skyblueHilight:   #2bf;
	--blueHilight:      #22f;
	--purpleHilight:    #b2f;
	--pinkHilight:      #f2f;
	--hotpinkHilight:   #f2b;

  --grayFaint:      #aaaa;
	--redFaint:       #c44a;
	--orangeFaint:    #ca4a;
	--yellowFaint:    #cc4a;
	--limeFaint:      #ac4a;
	--greenFaint:     #4c4a;
	--aquagreenFaint: #4caa;
	--cyanFaint:      #4bca;
	--skyblueFaint:   #4aca;
	--blueFaint:      #44ca;
	--purpleFaint:    #a4ca;
	--pinkFaint:      #c4ca;
	--hotpinkFaint:   #c4aa;


	--DEFAULT_ACCENT: var(--blue);
	--DEFAULT_ACCENT_HILIGHT: var(--blueHilight);
    
    --DEFAULT_HILIGHT: var(--blue);
	--DEFAULT_HILIGHT_HILIGHT: var(--blueHilight);
    --DEFAULT_HILIGHT_FAINT: var(--blueFaint);
    
    --DEFAULT_SELECTION_BG: var(--blue);
    
    

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
    
    --hilight: var(--DEFAULT_HILIGHT);
	--hilightHilight: var(--DEFAULT_HILIGHT_HILIGHT);
	--hilightFaint: var(--DEFAULT_HILIGHT_FAINT);
    
    --selectionBackground: var(--DEFAULT_SELECTION_BACKGROUND);
    --selectionForeground: var(--foreground);
}


/**********************************
**********************************/

a:link {
  --foreground: var(--blue);
}

/* visited link */
a:visited {
  --foreground: var(--hotpink);
}

/* mouse over link */
a:hover, a:focus {
  --foreground: var(--blueHilight);
}

/* selected link */
a:active {
  --foreground: var(--skyblue);
}


/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: #000c;
	--backgroundTop: #000a;
	--backgroundBottom: #000e;

	--foreground: #eee;
}

.navbar a:link {
	--foreground: var(--skyblue);
}

.navbar .dropdown .dropdownbutton {
	--background:              #222c;
	--backgroundTop:           #444c;
	--backgroundBottom:        #000c;

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #dddddd00;
}



div.item:hover {
	--background: #dddddd33 !important;
}




button, input[type=color],
input[type="checkbox"] {
	--background:              #222d;
	--backgroundTop:           #444d;
	--backgroundBottom:        #000e;

	--decoration: #0000;
}

button:hover, button:focus,
input[type=color]:hover, input[type=color]:focus,
input[type="checkbox"]:hover, input[type="checkbox"]:focus {
	--decoration: var(--hilight);
}

button:active, button.active,
input[type=color]:active,
input[type="checkbox"]:active {
	--background:              #222c;
	--backgroundBottom:        #444c;
	--backgroundTop:           #000c;

	--borderBottom:        #777;
	--borderLeft:  #808080;
	--borderRight:                #808080;
	--borderTop:          #888;
}



button.hilight {
	--background:       #222;
	--backgroundTop:    #444;
	--backgroundBottom: #000;
	--foreground: #fff;
}

button.hilight:hover, button.hilight:focus {
	--decoration: var(--hilightHilight);
}

button.hilight:active, button.hilight.active {
	--background:       #111;
	--backgroundTop:    #000;
	--backgroundBottom: #444;
}



button.faint {
	--background:         #2228;
	--backgroundTop:      #4448;
	--backgroundBottom:   #0008;
	--foreground:   #eeec;
	--borderTop:             #8888;
	--borderLeft:  #70707088;
	--borderRight:                #70707088;
	--borderBottom:        #7778;
}

button.faint:hover, button.faint:focus {
	--decoration: var(--hilightFaint);
}

button.faint:active, button.faint.active {
	--background:         #1118;
	--backgroundTop:      #0008;
	--backgroundBottom:   #4448;
	--borderTop:             #7778;
	--borderLeft:  #70707088;
	--borderRight:                #70707088;
	--borderBottom:        #8888;
}



/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default {
	--borderTop:             #ace;
	--borderLeft:  #aeceee;
	--borderRight:                #aeceee;
	--borderBottom:        #9bd;
}

button.primary {
	--background:              var(--blue);
	--backgroundTop:           var(--blueFaint);
	--backgroundBottom:        var(--blue);

	--foreground:        #eee;
}
button.primary:active {
	--background:              var(--blue);
	--backgroundBottom:        var(--blueFaint);
	--backgroundTop:           var(--blue);
}

button.success {
	--background:              var(--green);
	--backgroundTop:           var(--greenFaint);
	--backgroundBottom:        var(--green);

	--foreground:        #eee;
}
button.success:active {
	--background:              var(--green);
	--backgroundBottom:        var(--greenFaint);
	--backgroundTop:           var(--green);
}


button.info {
	--background:              var(--skyblue);
	--backgroundTop:           var(--cyanFaint);
	--backgroundBottom:        var(--cyan);

	--foreground:        #444;
}
button.info:active {
	--background:              var(--cyan);
	--backgroundBottom:        var(--cyanFaint);
	--backgroundTop:           var(--cyan);
}

button.warning {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellowFaint);
	--backgroundBottom:        var(--yellow);

	--foreground:        #444;
}
button.warning:active {
	--background:              var(--yellow);
	--backgroundBottom:        var(--yellowFaint);
	--backgroundTop:           var(--yellow);
}

button.danger {
	--background:              var(--red);
	--backgroundTop:           var(--redFaint);
	--backgroundBottom:        var(--red);

	--foreground:        #eee;
}
button.danger:active {
	--background:              var(--red);
	--backgroundBottom:        var(--redFaint);
	--backgroundTop:           var(--red);
}
