/* HYDROGEN - MISC */
/* Part of what makes the layout good */


:root {
	--ROOT2: 1.414213562373095048801688724209698078569671875376948073176679737990732478462107;
	--PHI: 1.6180339887498948482045868343656381177203091798057628621354486227052604628189024;
	
	--borderRadius: 3px;


	/*****************************
	**  MAIN SIZES AND MARGINS  **
	*****************************/

	--headerPaddingTop:          24px;
	--headerPaddingLeft: calc(18px + 1vw);
	--headerPaddingRight:              calc(18px + 1vw);
	--headerPaddingBottom:     12px;

	--pagePaddingTop:          24px;
	--pagePaddingLeft: calc(18px + 1vw);
	--pagePaddingRight:              calc(18px + 1vw);
	--pagePaddingBottom:     36px;




	--borderWidth: 0.5px;


	
	
	--fontSize: 1rem;


	--harmonicRelationship: calc(6 / 5);
	
	/* USABLE EVERYWHERE:
	 * Minor second: 16/15
	 * Major second: 9/8
	 * -> Minor third: 6/5
	 * 
	 * USABLE ON DESKTOP:
	 * Major third: 5/4
	 * Perfect fourth: 4/3
	 * 
	 * FOR DISPLAY PURPOSES ONLY:
	 * Augmented fourth and diminished fifth: var(--ROOT2) / 1
	 * Perfect fifth: 3/2
	 * 
	 * EXTREME:
	 * Minor sixth: 8/5
	 * Golden section: var(--PHI)/1
	 * 
	 * REALLY EXTREME:
	 * Major sixth: 5/3
	 * Minor seventh: 16/9
	 * 
	 * REEEEEEEEEEEEEEEEE:
	 * Major seventh: 15/8
	 * Octave: 2/1
	 */

	--fontSizeH6: calc(var(--fontSize) * var(--harmonicRelationship));
	--fontSizeH5: calc(var(--fontSizeH6) * var(--harmonicRelationship));
	--fontSizeH4: calc(var(--fontSizeH5) * var(--harmonicRelationship));
	--fontSizeH3: calc(var(--fontSizeH4) * var(--harmonicRelationship));
	--fontSizeH2: calc(var(--fontSizeH3) * var(--harmonicRelationship));
	--fontSizeH1: calc(var(--fontSizeH2) * var(--harmonicRelationship));

	--lineHeight: 1.5em;
	--letterSpacing: 0em;

	--sansSerifFont: -apple-system, BlinkMacSystemFont, system-ui, menu, sans-serif;

	
	
	/* Thanks to Adam Argyle @argyleink on CodePen: */
	--ease-in-quad:       cubic-bezier(.55, .085, .68, .53);
	--ease-in-cubic:      cubic-bezier(.55, .055, .675, .19);
	--ease-in-quart:      cubic-bezier(.895, .03, .685, .22);
	--ease-in-quint:      cubic-bezier(.755, .05, .855, .06);
	--ease-in-expo:       cubic-bezier(.95, .05, .795, .035);
	--ease-in-circ:       cubic-bezier(.6, .04, .98, .335);
	--ease-out-quad:      cubic-bezier(.25, .46, .45, .94);
	--ease-out-cubic:     cubic-bezier(.215, .61, .355, 1);
	--ease-out-quart:     cubic-bezier(.165, .84, .44, 1);
	--ease-out-quint:     cubic-bezier(.23, 1, .32, 1);
	--ease-out-expo:      cubic-bezier(.19, 1, .22, 1);
	--ease-out-circ:      cubic-bezier(.075, .82, .165, 1);
	--ease-in-out-quad:   cubic-bezier(.455, .03, .515, .955);
	--ease-in-out-cubic:  cubic-bezier(.645, .045, .355, 1);
	--ease-in-out-quart:  cubic-bezier(.77, 0, .175, 1);
	--ease-in-out-quint:  cubic-bezier(.86, 0, .07, 1);
	--ease-in-out-expo:   cubic-bezier(1, 0, 0, 1);
	--ease-in-out-circ:   cubic-bezier(.785, .135, .15, .86);
	
	/* ease-out-in extension, for those who want it */
	
	--ease-out-in-quad:   cubic-bezier(.03, .455, .955, .515);
	--ease-out-in-cubic:  cubic-bezier(.045, .645, 1, .355);
	--ease-out-in-quart:  cubic-bezier(0, .77, 1, .175);
	--ease-out-in-quint:  cubic-bezier(0, .86, 1, .07);
	--ease-out-in-expo:   cubic-bezier(0, 1, 1, 0);
	--ease-out-in-circ:   cubic-bezier(.135, .785, .86, .15);
	
	
	--animationDuration: 0.3s;
	--animationDurationSlide: 0.4s;
	--animationDurationFade: 0.3s;

	--animationFunction: cubic-bezier(0.4,0, 0.4,1);

	
	
	
	
	--backdropFilter: saturate(0.7) contrast(calc(1 / 0.7)) blur(20px);
}


/**********************************
**********************************/




/* NAVIGATION BAR */

div.navbar {
	--paddingTop:          0.2rem;
	--paddingLeft: calc(24px + 1vw);
	--paddingRight:              calc(24px + 1vw);
	--paddingBottom:     0.2rem;
}

.navbar .dropdown .dropdownbutton {
	--paddingTop:          0.15rem;
	--paddingLeft: 0.5rem;
	--paddingRight:              0.5rem;
	--paddingBottom:     0.07rem;
}






button {
	--paddingTop:          0.15rem;
	--paddingLeft: 0.5rem;
	--paddingRight:              0.5rem;
	--paddingBottom:     0.07rem;
}




/* ##"""""""""""""""""""############### */
/* ## RESPONSIVE DESIGN ############### */
/* ##...................############### */



/* Mobile users */

@media screen and (any-pointer: coarse) {
	button {
		--paddingTop: 0.4rem;
		--paddingLeft: 0.7rem;
		--paddingRight: 0.7rem;
		--paddingBottom: 0.4rem;
	}
}






/* eXtra Small screens */
@media screen and (max-width: 600px) {
	:root {--font-size: 90%;}
}






/* Small screens */
@media screen and (min-width: 601px) and (max-width: 768px) {
}






/* Medium screens */
@media screen and (min-width: 769px) and (max-width: 992px) {
}








/* Large screens */
@media screen and (min-width: 993px) and (max-width: 1200px) {
	:root {
		--pagePaddingTop:          24px;
		--pagePaddingLeft: calc(18px + 8vw);
		--pagePaddingRight:              calc(18px + 8vw);
		--pagePaddingBottom:     36px;
	}
}









/* eXtra-Large screens */
@media screen and (min-width: 1201px) {
	:root {
		--pagePaddingTop:          24px;
		--pagePaddingLeft: calc(18px + 11vw);
		--pagePaddingRight:              calc(18px + 11vw);
		--pagePaddingBottom:     36px;
	}
}










/* ###################################### */
/* ## RESPONDING TO ACCESSIBILITY ####### */
/* ###################################### */




/* empty for now */
