/* AOZ0RA - ROSE */
/* Heeeeeeeey, Soooooooonic!!!~ */

/* based off of Air */


:root {
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        #f5dae7;
	--backgroundHilight: #fdf7fa;
	--backgroundFaint:   #f0c7db;
	
	--backgroundSecondary: #f9b5d8;

	--foreground:        #666;
	--foregroundHilight: #222;
	--foregroundFaint:   #666c;


	--border: #fff;
	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
	
	--ButtonHilight: #fff;
	--ButtonLight: #f5dae777;
	--ButtonFace: #f5dae7;
	--ButtonShadow: #4064;
	--ButtonDkShadow: #4068;
	--WindowFrame: #c4a;



	--gray:      #888;
	--red:       #c44;
	--orange:    #ca4;
	--yellow:    #cc4;
	--lime:      #ac4;
	--green:     #4c4;
	--aquagreen: #4ca;
	--cyan:      #4bc;
	--skyblue:   #4ac;
	--blue:      #44c;
	--purple:    #a4c;
	--pink:      #c4c;
	--hotpink:   #c4a;

	--grayMuted:      #999;
	--redMuted:       #a66;
	--orangeMuted:    #a86;
	--yellowMuted:    #aa6;
	--limeMuted:      #8a6;
	--greenMuted:     #6a6;
	--aquagreenMuted: #6a8;
	--cyanMuted:      #68a;
	--skyblueMuted:   #67a;
	--blueMuted:      #66a;
	--purpleMuted:    #86a;
	--pinkMuted:      #a6a;
	--hotpinkMuted:   #a68;

	--grayHilight:      #666;
	--redHilight:       #f22;
	--orangeHilight:    #fc2;
	--yellowHilight:    #ff2;
	--limeHilight:      #bf2;
	--greenHilight:     #2f2;
	--aquagreenHilight: #2fb;
	--cyanHilight:      #2ef;
	--skyblueHilight:   #2bf;
	--blueHilight:      #22f;
	--purpleHilight:    #b2f;
	--pinkHilight:      #f2f;
	--hotpinkHilight:   #f2b;

	--grayFaint:      #888a;
	--redFaint:       #c44a;
	--orangeFaint:    #ca4a;
	--yellowFaint:    #cc4a;
	--limeFaint:      #ac4a;
	--greenFaint:     #4c4a;
	--aquagreenFaint: #4caa;
	--cyanFaint:      #4bca;
	--skyblueFaint:   #4aca;
	--blueFaint:      #44ca;
	--purpleFaint:    #a4ca;
	--pinkFaint:      #c4ca;
	--hotpinkFaint:   #c4aa;


	--DEFAULT_ACCENT: var(--hotpink);
	--DEFAULT_ACCENT_HILIGHT: var(--hotpinkHilight);
    
	--DEFAULT_HILIGHT: var(--hotpink);
	--DEFAULT_HILIGHT_HILIGHT: var(--hotpinkHilight);
	--DEFAULT_HILIGHT_FAINT: var(--hotpinkFaint);
    
	--DEFAULT_SELECTION_BG: var(--hotpink);
    
    

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
    
	--hilight: var(--DEFAULT_HILIGHT);
	--hilightHilight: var(--DEFAULT_HILIGHT_HILIGHT);
	--hilightFaint: var(--DEFAULT_HILIGHT_FAINT);
    
	--selectionBackground: var(--DEFAULT_SELECTION_BACKGROUND);
	--selectionForeground: var(--background);
}


/**********************************
**********************************/

a:link {
  --foreground: var(--hotpink);
}

/* visited link */
a:visited {
  --foreground: var(--pink);
}

/* mouse over link */
a:hover, a:focus {
  --foreground: var(--hotpinkHilight);
}

/* selected link */
a:active {
  --foreground: var(--pink);
}


/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: #fff;
	--backgroundTop: #fff;
	--backgroundBottom: #faeef5;

	--foreground: #555;

	--borderTop: #fff;
	--borderLeft: #fff;
	--borderRight: #fff;
	--borderBottom: #fff;
}

div.navbar a:link {
	--foreground: var(--skyblue);
}

.navbar .dropdown .dropdownbutton {
	--background:              #fff0;
	--backgroundTop:           #fff0;
	--backgroundBottom:        #eee0;

	--foreground:        #555;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #dddddd00;
	--foreground: #666;
}



div.item:hover {
	--background: #dddddd33 !important;
}




button:not(.nohydrogen), input[type=color]:not(.nohydrogen),
input[type="checkbox"]:not(.nohydrogen) {
	--background:              #f93974;
	--backgroundTop:           #fa5c8b;
	--backgroundBottom:        #f82565;

	--foreground:        #fde;

	--borderTop:             #fff6;
	--borderLeft:  #fff6;
	--borderRight:                #fff6;
	--borderBottom:        #fff6;

	--decoration: #0000;
}

button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus,
input[type="checkbox"]:not(.nohydrogen):hover, input[type="checkbox"]:not(.nohydrogen):focus {
	--decoration: var(--hilight);
}

button:not(.nohydrogen):active, button.active,
input[type=color]:not(.nohydrogen):active,
input[type="checkbox"]:not(.nohydrogen):active {
	--background:              #eeec;
	--backgroundTop:        #eeec;
	--backgroundBottom:           #fffc;


	--foreground:        #555;


	--borderTop:              #eee;
	--borderLeft:   #fefefe;
	--borderRight:                 #fefefe;
	--borderBottom:         #fff;
}



button:not(.nohydrogen).hilight {
	--background:       #fff;
	--backgroundTop:    #fff;
	--backgroundBottom: #eee;
	--foreground: #222;
	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}

button.hilight:not(.nohydrogen):hover, button.hilight:not(.nohydrogen):focus {
	--decoration: var(--hilightHilight);
}

button.hilight:not(.nohydrogen):active, button.hilight.active {
	--background:       #eee;
	--backgroundTop:    #eee;
	--backgroundBottom: #fff;
	--foreground: #222;
	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}



button.faint:not(.nohydrogen) {
	--background:         #fff8;
	--backgroundTop:      #fff8;
	--backgroundBottom:   #eee8;
	--foreground:   #555c;
	--borderTop:             #fff8;
	--borderLeft:  #fff8;
	--borderRight:                #fff8;
	--borderBottom:        #fff8;
}

button.faint:not(.nohydrogen):hover, button.faint:not(.nohydrogen):focus {
	--decoration: var(--hilightFaint);
}

button.faint:not(.nohydrogen):active, button.faint.active {
	--background:         #eee8;
	--backgroundTop:      #eee8;
	--backgroundBottom:   #fff8;
	--foreground:   #555c;
	--borderTop:             #fff8;
	--borderLeft:  #fff8;
	--borderRight:                #fff8;
	--borderBottom:        #fff8;
}



/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default:not(.nohydrogen) {
	--borderTop:             #bdf;
	--borderLeft:  #bedefe;
	--borderRight:                #bedefe;
	--borderBottom:        #ace;
}

button.primary:not(.nohydrogen) {
	--background:              var(--hotpink);
	--backgroundTop:           var(--hotpinkFaint);
	--backgroundBottom:        var(--hotpink);

	--foreground:        #eee;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.primary:not(.nohydrogen):active {
	--background:              var(--hotpink);
	--backgroundBottom:        var(--hotpinkFaint);
	--backgroundTop:           var(--hotpink);
}

button.success:not(.nohydrogen) {
	--background:              var(--green);
	--backgroundTop:           var(--greenFaint);
	--backgroundBottom:        var(--green);

	--foreground:        #eee;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.success:not(.nohydrogen):active {
	--background:              var(--green);
	--backgroundBottom:        var(--greenFaint);
	--backgroundTop:           var(--green);
}


button.info:not(.nohydrogen) {
	--background:              var(--skyblue);
	--backgroundTop:           var(--cyanFaint);
	--backgroundBottom:        var(--cyan);

	--foreground:        #444;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.info:not(.nohydrogen):active {
	--background:              var(--cyan);
	--backgroundBottom:        var(--cyanFaint);
	--backgroundTop:           var(--cyan);
}

button.warning:not(.nohydrogen) {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellowFaint);
	--backgroundBottom:        var(--yellow);

	--foreground:        #444;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.warning:not(.nohydrogen):active {
	--background:              var(--yellow);
	--backgroundBottom:        var(--yellowFaint);
	--backgroundTop:           var(--yellow);
}

button.danger:not(.nohydrogen) {
	--background:              var(--red);
	--backgroundTop:           var(--redFaint);
	--backgroundBottom:        var(--red);

	--foreground:        #eee;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.danger:not(.nohydrogen):active {
	--background:              var(--red);
	--backgroundBottom:        var(--redFaint);
	--backgroundTop:           var(--red);
}

