:root {
	
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        var(--onebitbg);
	--backgroundHilight: var(--onebitbg);
	--backgroundFaint:   var(--onebitbg);
	
	--backgroundSecondary: var(--onebitbg);

	--foreground:        var(--onebitfg);
	--foregroundHilight: var(--onebitfg);
	--foregroundFaint:   var(--onebitfg);


	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);

--ButtonHilight: var(--onebitfg);
--ButtonLight: var(--onebitfg);
--ButtonFace: var(--onebitbg);
--ButtonShadow: var(--onebitfg);
--ButtonDkShadow: var(--onebitfg);



--gray: var(--onebitfg);
	--red:       var(--onebitfg);
	--orange:    var(--onebitfg);
	--yellow:    var(--onebitfg);
	--lime:      var(--onebitfg);
	--green:     var(--onebitfg);
	--aquagreen: var(--onebitfg);
	--cyan:      var(--onebitfg);
	--skyblue:   var(--onebitfg);
	--blue:      var(--onebitfg);
	--purple:    var(--onebitfg);
	--pink:      var(--onebitfg);
	--hotpink:   var(--onebitfg);

--grayMuted: var(--onebitfg);
	--redMuted:       var(--onebitfg);
	--orangeMuted:    var(--onebitfg);
	--yellowMuted:    var(--onebitfg);
	--limeMuted:      var(--onebitfg);
	--greenMuted:     var(--onebitfg);
	--aquagreenMuted: var(--onebitfg);
	--cyanMuted:      var(--onebitfg);
	--skyblueMuted:   var(--onebitfg);
	--blueMuted:      var(--onebitfg);
	--purpleMuted:    var(--onebitfg);
	--pinkMuted:      var(--onebitfg);
	--hotpinkMuted:   var(--onebitfg);

--grayHilight: var(--onebitfg);
	--redHilight:       var(--onebitfg);
	--orangeHilight:    var(--onebitfg);
	--yellowHilight:    var(--onebitfg);
	--limeHilight:      var(--onebitfg);
	--greenHilight:     var(--onebitfg);
	--aquagreenHilight: var(--onebitfg);
	--cyanHilight:      var(--onebitfg);
	--skyblueHilight:   var(--onebitfg);
	--blueHilight:      var(--onebitfg);
	--purpleHilight:    var(--onebitfg);
	--pinkHilight:      var(--onebitfg);
	--hotpinkHilight:   var(--onebitfg);

--grayFaint: var(--onebitfg);
	--redFaint:       var(--onebitfg);
	--orangeFaint:    var(--onebitfg);
	--yellowFaint:    var(--onebitfg);
	--limeFaint:      var(--onebitfg);
	--greenFaint:     var(--onebitfg);
	--aquagreenFaint: var(--onebitfg);
	--cyanFaint:      var(--onebitfg);
	--skyblueFaint:   var(--onebitfg);
	--blueFaint:      var(--onebitfg);
	--purpleFaint:    var(--onebitfg);
	--pinkFaint:      var(--onebitfg);
	--hotpinkFaint:   var(--onebitfg);


	--DEFAULT_ACCENT: var(--blue);
	--DEFAULT_ACCENT_HILIGHT: var(--blueHilight);
    
    --DEFAULT_HILIGHT: var(--blue);
	--DEFAULT_HILIGHT_HILIGHT: var(--blueHilight);
    --DEFAULT_HILIGHT_FAINT: var(--blueFaint);
    
    --DEFAULT_SELECTION_BG: var(--blue);
    
    

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
    
    --hilight: var(--DEFAULT_HILIGHT);
	--hilightHilight: var(--DEFAULT_HILIGHT_HILIGHT);
	--hilightFaint: var(--DEFAULT_HILIGHT_FAINT);
    
    --selectionBackground: var(--DEFAULT_SELECTION_BACKGROUND);
    --selectionForeground: var(--onebitbg);
}


/**********************************
**********************************/

a:link {
  --foreground: var(--blue);
}

/* visited link */
a:visited {
  --foreground: var(--hotpink);
}

/* mouse over link */
a:hover, a:focus {
  --foreground: var(--skyblue);
}

/* selected link */
a:active {
  --foreground: var(--blue);
}


/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: var(--onebitfg);
	--backgroundTop: var(--onebitfg);
	--backgroundBottom: var(--onebitfg);

	--foreground: var(--onebitbg);

	--border: var(--onebitbg);
	--borderTop:             var(--onebitbg);
	--borderLeft:  var(--onebitbg);
	--borderRight:                var(--onebitbg);
	--borderBottom:        var(--onebitbg);
}

.navbar a:link {
	--foreground: var(--onebitbg);
}

.navbar .dropdown .dropdownbutton {
	--background:              var(--onebitfg);
	--backgroundTop:           var(--onebitfg);
	--backgroundBottom:        var(--onebitfg);

	--foreground:        var(--onebitbg);

	--border: var(--onebitbg);
	--borderTop:             var(--onebitbg);
	--borderLeft:  var(--onebitbg);
	--borderRight:                var(--onebitbg);
	--borderBottom:        var(--onebitbg);

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #dddddd00;
	--foreground: var(--onebitbg);
}



div.item:hover {
	--background: var(--onebitbg) !important;
  --foreground: var(--onebitfg) !important;
}




button:not(.nohydrogen), input[type=color]:not(.nohydrogen),
input[type="checkbox"]:not(.nohydrogen) {
	--background:              var(--onebitbg);
	--backgroundTop:           var(--onebitbg);
	--backgroundBottom:        var(--onebitbg);

	--foreground:        var(--onebitfg);

	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);


	--decoration: #0000;
}

button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus,
input[type="checkbox"]:not(.nohydrogen):hover, input[type="checkbox"]:not(.nohydrogen):focus {

	--decoration: var(--hilight);
}

button:not(.nohydrogen):active, button.active,
input[type=color]:not(.nohydrogen):active,
input[type="checkbox"]:not(.nohydrogen):active {
	--background:              var(--onebitfg);
	--backgroundTop:           var(--onebitfg);
	--backgroundBottom:        var(--onebitfg);

	--foreground:        var(--onebitbg);

	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}



button.hilight:not(.nohydrogen) {
	--background:              var(--onebitfg);
	--backgroundTop:           var(--onebitfg);
	--backgroundBottom:        var(--onebitfg);

	--foreground:        var(--onebitbg);

	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}

button.hilight:not(.nohydrogen):hover, button.hilight:not(.nohydrogen):focus {
	
	--decoration: var(--hilightHilight);
}

button.hilight:not(.nohydrogen):active, button.hilight.active {
	--background:              var(--onebitbg);
	--backgroundTop:           var(--onebitbg);
	--backgroundBottom:        var(--onebitbg);

	--foreground:        var(--onebitfg);

	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}



button.faint:not(.nohydrogen) {
	--background:              var(--onebitbg);
	--backgroundTop:           var(--onebitbg);
	--backgroundBottom:        var(--onebitbg);

	--foreground:        var(--onebitfg);

	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}

button.faint:not(.nohydrogen):hover, button.faint:not(.nohydrogen):focus {
	
	--decoration: var(--hilightFaint);
}

button.faint:not(.nohydrogen):active, button.faint.active {
	--background:              var(--onebitfg);
	--backgroundTop:           var(--onebitfg);
	--backgroundBottom:        var(--onebitfg);

	--foreground:        var(--onebitbg);

	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}



/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default:not(.nohydrogen) {
	--border: var(--onebitfg);
	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitbg);
	--borderRight:                var(--onebitbg);
	--borderBottom:        var(--onebitfg);
}

button.primary:not(.nohydrogen) {
	--background:              var(--blue);
	--backgroundTop:           var(--blueFaint);
	--backgroundBottom:        var(--blue);

	--foreground:        var(--onebitfg);

	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}
button.primary:not(.nohydrogen):active {
	--background:              var(--blue);
	--backgroundBottom:        var(--blueFaint);
	--backgroundTop:           var(--blue);
}

button.success:not(.nohydrogen) {
	--background:              var(--green);
	--backgroundTop:           var(--greenFaint);
	--backgroundBottom:        var(--green);

	--foreground:        var(--onebitfg);

	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}
button.success:not(.nohydrogen):active {
	--background:              var(--green);
	--backgroundBottom:        var(--greenFaint);
	--backgroundTop:           var(--green);
}


button.info:not(.nohydrogen) {
	--background:              var(--skyblue);
	--backgroundTop:           var(--cyanFaint);
	--backgroundBottom:        var(--cyan);

	--foreground:        var(--onebitfg);

	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}
button.info:not(.nohydrogen):active {
	--background:              var(--cyan);
	--backgroundBottom:        var(--cyanFaint);
	--backgroundTop:           var(--cyan);
}

button.warning:not(.nohydrogen) {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellowFaint);
	--backgroundBottom:        var(--yellow);

	--foreground:        var(--onebitfg);

	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}
button.warning:not(.nohydrogen):active {
	--background:              var(--yellow);
	--backgroundBottom:        var(--yellowFaint);
	--backgroundTop:           var(--yellow);
}

button.danger:not(.nohydrogen) {
	--background:              var(--red);
	--backgroundTop:           var(--redFaint);
	--backgroundBottom:        var(--red);

	--foreground:        var(--onebitfg);

	--borderTop:             var(--onebitfg);
	--borderLeft:  var(--onebitfg);
	--borderRight:                var(--onebitfg);
	--borderBottom:        var(--onebitfg);
}
button.danger:not(.nohydrogen):active {
	--background:              var(--red);
	--backgroundBottom:        var(--redFaint);
	--backgroundTop:           var(--red);
}
