/* HYDROGEN DEFAULTS */
/* The default colors and stuff */


:root {
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        #d0d;
	--backgroundHilight: #ffeea6;
	--backgroundFaint:   #ccc;

  --backgroundSecondary: #ccc;

	--foreground:        #000;
	--foregroundHilight: #202;
	--foregroundFaint:   #000c;


	--border: #f8f8f8;
	--borderTop:             #fff;
	--borderLeft:  #f8f8f8;
	--borderRight:                #f8f8f8;
	--borderBottom:        #eee;


	--borderRadius: 3px;



  --gray:      #888;
	--red:       #e44;
	--orange:    #ea4;
	--yellow:    #ee4;
	--lime:      #ae4;
	--green:     #4e4;
	--aquagreen: #4ea;
	--cyan:      #4be;
	--skyblue:   #4ae;
	--blue:      #44e;
	--purple:    #a4e;
	--pink:      #e4e;
	--hotpink:   #e4a;

  --grayMuted:      #999;
	--redMuted:       #a66;
	--orangeMuted:    #a86;
	--yellowMuted:    #aa6;
	--limeMuted:      #8a6;
	--greenMuted:     #6a6;
	--aquagreenMuted: #6a8;
	--cyanMuted:      #68a;
	--skyblueMuted:   #67a;
	--blueMuted:      #66a;
	--purpleMuted:    #86a;
	--pinkMuted:      #a6a;
	--hotpinkMuted:   #a68;

  --grayHilight:      #666;
	--redHilight:       #f22;
	--orangeHilight:    #fc2;
	--yellowHilight:    #ff2;
	--limeHilight:      #bf2;
	--greenHilight:     #2f2;
	--aquagreenHilight: #2fb;
	--cyanHilight:      #2ef;
	--skyblueHilight:   #2bf;
	--blueHilight:      #22f;
	--purpleHilight:    #b2f;
	--pinkHilight:      #f2f;
	--hotpinkHilight:   #f2b;

  --grayFaint:      #888a;
	--redFaint:       #c44a;
	--orangeFaint:    #ca4a;
	--yellowFaint:    #cc4a;
	--limeFaint:      #ac4a;
	--greenFaint:     #4c4a;
	--aquagreenFaint: #4caa;
	--cyanFaint:      #4bca;
	--skyblueFaint:   #4aca;
	--blueFaint:      #44ca;
	--purpleFaint:    #a4ca;
	--pinkFaint:      #c4ca;
	--hotpinkFaint:   #c4aa;


	--DEFAULT_ACCENT: var(--yellow);
	--DEFAULT_ACCENT_HILIGHT: var(--yellowHilight);
    
    --DEFAULT_HILIGHT: var(--yellow);
	--DEFAULT_HILIGHT_HILIGHT: var(--yellowHilight);
    --DEFAULT_HILIGHT_FAINT: var(--yellowFaint);
    
    --DEFAULT_SELECTION_BG: var(--yellow);
    
    

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
    
    --hilight: var(--DEFAULT_HILIGHT);
	--hilightHilight: var(--DEFAULT_HILIGHT_HILIGHT);
	--hilightFaint: var(--DEFAULT_HILIGHT_FAINT);
    
    --selectionBackground: var(--DEFAULT_SELECTION_BACKGROUND);
    --selectionForeground: var(--background);
}


/**********************************
**********************************/

a:link {
  --foreground: var(--blue);
}

/* visited link */
a:visited {
  --foreground: var(--hotpink);
}

/* mouse over link */
a:hover, a:focus {
  --foreground: var(--blueHilight);
}

/* selected link */
a:active {
  --foreground: var(--skyblue);
}


/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: #408;
	--backgroundTop: #70c;
	--backgroundBottom: #306;

	--foreground: #eee;
}

div.navbar a:link {
	--foreground: var(--skyblue);
}

.navbar .dropdown .dropdownbutton {
	--background:              #66df43;
	--backgroundTop:           #76ef53;
	--backgroundBottom:        #56cf33;
	
	--foreground: #000;
	
	--borderTop: #fff8;
	--borderLeft: #fff6;
	--borderRight: #fff6;
	--borderBottom: #fff3;

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #dddddd00;
}



div.item:hover {
	--background: #dddddd33 !important;
}




button:not(.nohydrogen), input[type=color]:not(.nohydrogen),
input[type="checkbox"]:not(.nohydrogen) {
	--background:              #66df43;
	--backgroundTop:           #76ef53;
	--backgroundBottom:        #56cf33;
	
	--foreground: #000;
	
	--borderTop: #fff8;
	--borderLeft: #fff6;
	--borderRight: #fff6;
	--borderBottom: #fff3;
	
	--decoration: #0000;
}

button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus,
input[type="checkbox"]:not(.nohydrogen):hover, input[type="checkbox"]:not(.nohydrogen):focus {
	--decoration: var(--hilight);
}

button:not(.nohydrogen):active, button.active,
input[type=color]:not(.nohydrogen):active, input[type="checkbox"]:not(.nohydrogen):focus {
	--background:              #56cf33;
	--backgroundBottom:        #76ef53;
	--backgroundTop:           #56cf33;
	
	--borderBottom: #fff8;
	--borderRight: #fff6;
	--borderLeft: #fff6;
	--borderTop: #fff3;
}



button:not(.nohydrogen).hilight {
	--background:       #4f0;
	--backgroundTop:    #7f4;
	--backgroundBottom: #3e0;
	
	--foreground: #111;
}

button.hilight:not(.nohydrogen):hover, button.hilight:not(.nohydrogen):focus {
	--decoration: var(--hilightHilight);
}

button.hilight:not(.nohydrogen):active, button.hilight.active {
	--background:       #3e0;
	--backgroundTop: #3e0;
	--backgroundBottom:    #7f4;
	
	--borderTop:             #eee;
	--borderLeft:  #f8f8f8;
	--borderRight:                #f8f8f8;
	--borderBottom:        #fff;
}



button.faint:not(.nohydrogen) {
	--background:              #66df43dd;
	--backgroundTop:           #76ef53dd;
	--backgroundBottom:        #56cf33dd;
	--foreground:   #444c;
	--borderTop:             #fff8;
	--borderLeft:  #f8f8f888;
	--borderRight:                #f8f8f888;
	--borderBottom:        #eee8;
}

button.faint:not(.nohydrogen):hover, button.faint:not(.nohydrogen):focus {
	--decoration: var(--hilightFaint);
}

button.faint:not(.nohydrogen):active, button.faint.active {
	/*--backgroundBottom:      #f8f8f888;
	--foreground:   #444c;
	--borderTop:              #eee8;
	--borderLeft:   #fefefe88;
	--borderRight:                 #fefefe88;
	--borderBottom:         #fff8;*/
	
	--background:         #ccc8;
	--backgroundTop:      #ccc8;
	--backgroundBottom:   #f8f8f888;
	--borderTop:             #eee8;
	--borderLeft:  #f8f8f888;
	--borderRight:                 #f8f8f888;
	--borderBottom:         #fff8;
}





/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default:not(.nohydrogen) {
	--borderTop:             #bdf;
	--borderLeft:  #bedefe;
	--borderRight:                #bedefe;
	--borderBottom:        #ace;
}

button.primary:not(.nohydrogen) {
	--background:              var(--blue);
	--backgroundTop:           var(--blueFaint);
	--backgroundBottom:        var(--blue);

	--foreground:        #eee;
}
button.primary:not(.nohydrogen):active {
	--background:              var(--blue);
	--backgroundBottom:        var(--blueFaint);
	--backgroundTop:           var(--blue);
}

button.success:not(.nohydrogen) {
	--background:              var(--green);
	--backgroundTop:           var(--greenFaint);
	--backgroundBottom:        var(--green);

	--foreground:        #eee;
}
button.success:not(.nohydrogen):active {
	--background:              var(--green);
	--backgroundBottom:        var(--greenFaint);
	--backgroundTop:           var(--green);
}


button.info:not(.nohydrogen) {
	--background:              var(--skyblue);
	--backgroundTop:           var(--cyanFaint);
	--backgroundBottom:        var(--cyan);

	--foreground:        #444;
}
button.info:not(.nohydrogen):active {
	--background:              var(--cyan);
	--backgroundBottom:        var(--cyanFaint);
	--backgroundTop:           var(--cyan);
}

button.warning:not(.nohydrogen) {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellowFaint);
	--backgroundBottom:        var(--yellow);

	--foreground:        #444;
}
button.warning:not(.nohydrogen):active {
	--background:              var(--yellow);
	--backgroundBottom:        var(--yellowFaint);
	--backgroundTop:           var(--yellow);
}

button.danger:not(.nohydrogen) {
	--background:              var(--red);
	--backgroundTop:           var(--redFaint);
	--backgroundBottom:        var(--red);

	--foreground:        #eee;
}
button.danger:not(.nohydrogen):active {
	--background:              var(--red);
	--backgroundBottom:        var(--redFaint);
	--backgroundTop:           var(--red);
}
