/* HYDROGEN DEFAULTS */
/* The default colors and stuff */


:root {
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        #000;
	--backgroundHilight: #00f;
	--backgroundFaint:   #111;
	
	--backgroundSecondary: #004;

	--foreground:        #fff;
	--foregroundHilight: #ff0;
	--foregroundFaint:   #fffa;


	--border: #44f;
	--borderTop:             #44f;
	--borderLeft:  #44f;
	--borderRight:                #44f;
	--borderBottom:        #44f;



  --gray:      #888;
	--red:       #f44;
	--orange:    #fa4;
	--yellow:    #ff4;
	--lime:      #af4;
	--green:     #4f4;
	--aquagreen: #4fa;
	--cyan:      #4ff;
	--skyblue:   #4af;
	--blue:      #44f;
	--purple:    #a4f;
	--pink:      #f4f;
	--hotpink:   #f4a;

  --grayMuted:      #777;
	--redMuted:       #a44;
	--orangeMuted:    #a84;
	--yellowMuted:    #aa4;
	--limeMuted:      #8a4;
	--greenMuted:     #4a4;
	--aquagreenMuted: #4a8;
	--cyanMuted:      #4aa;
	--skyblueMuted:   #48a;
	--blueMuted:      #44a;
	--purpleMuted:    #84a;
	--pinkMuted:      #a4a;
	--hotpinkMuted:   #a48;

  --grayHilight:      #aaa;
	--redHilight:       #f00;
	--orangeHilight:    #fa0;
	--yellowHilight:    #ff0;
	--limeHilight:      #bf0;
	--greenHilight:     #0f0;
	--aquagreenHilight: #0fa;
	--cyanHilight:      #0ff;
	--skyblueHilight:   #0af;
	--blueHilight:      #a0f;
	--purpleHilight:    #b0f;
	--pinkHilight:      #f0f;
	--hotpinkHilight:   #f0a;

  --grayFaint:      #888a;
	--redFaint:       #f00a;
	--orangeFaint:    #fa0a;
	--yellowFaint:    #ff0a;
	--limeFaint:      #af0a;
	--greenFaint:     #0f0a;
	--aquagreenFaint: #0faa;
	--cyanFaint:      #0ffa;
	--skyblueFaint:   #0afa;
	--blueFaint:      #00fa;
	--purpleFaint:    #a0fa;
	--pinkFaint:      #f0fa;
	--hotpinkFaint:   #f0aa;


	--DEFAULT_ACCENT: var(--blue);
	--DEFAULT_ACCENT_HILIGHT: var(--blueHilight);
    
    --DEFAULT_HILIGHT: var(--blue);
	--DEFAULT_HILIGHT_HILIGHT: var(--blueHilight);
    --DEFAULT_HILIGHT_FAINT: var(--blueFaint);
    
    --DEFAULT_SELECTION_BG: var(--blue);
    
    

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
    
    --hilight: var(--DEFAULT_HILIGHT);
	--hilightHilight: var(--DEFAULT_HILIGHT_HILIGHT);
	--hilightFaint: var(--DEFAULT_HILIGHT_FAINT);
    
    --selectionBackground: var(--DEFAULT_SELECTION_BACKGROUND);
	--selectionForeground: var(--foreground);
}


/**********************************
**********************************/

a:link {
  --foreground: var(--pink);
}

/* visited link */
a:visited {
  --foreground: var(--hotpink);
}

/* mouse over link */
a:hover, a:focus {
  --foreground: var(--purple);
}

/* selected link */
a:active {
  --foreground: var(--hotpink);
}


/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: #0088;
	--backgroundTop: #00f0;
	--backgroundBottom: #00f;

	--foreground: #0ff;

	--borderTop: #0ff;
	--borderLeft: #0ff;
	--borderRight: #0ff;
	--borderBottom: #0ff;
}

div.navbar a:link {
	--foreground: var(--yellow);
}

.navbar .dropdown .dropdownbutton {
	--background:              #0088;
	--backgroundTop:           #00f;
	--backgroundBottom:        #00f0;

	--foreground:        #ff0;

	--borderTop:             #ff0;
	--borderLeft:  #ff0;
	--borderRight:                #ff0;
	--borderBottom:        #ff0;

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #00f0;
	--foreground: #0ff;
}



div.item:hover {
	--background: #00ff !important;
}




button:not(.nohydrogen), input[type=color]:not(.nohydrogen) {
	--background:              #00f4;
	--backgroundTop:           #00f2;
	--backgroundBottom:        #00f9;

	--foreground:        #4af;

	--borderTop:             #4af;
	--borderLeft:  #4af;
	--borderRight:                #4af;
	--borderBottom:        #4af;

	--decoration: #0000;
}

button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus{
	--background:              #00f9;
	--backgroundTop:           #00f4;
	--backgroundBottom:        #00ff;

	--foreground:        #4ff;

	--borderTop:             #4ff;
	--borderLeft:  #4ff;
	--borderRight:                #4ff;
	--borderBottom:        #4ff;

	--decoration: var(--hilight);
}

button:not(.nohydrogen):active, button.active {
	--background:              #ff0;
	--backgroundTop:        #ff0;
	--backgroundBottom:           #ff00;


	--foreground:        #fff;


	--borderTop:              #ff0;
	--borderLeft:   #ff0;
	--borderRight:                 #ff0;
	--borderBottom:         #ff0;
}



button:not(.nohydrogen).hilight {
	--background:              #0bf4;
	--backgroundTop:           #0bf2;
	--backgroundBottom:        #0bf9;

	--foreground:        #4ff;

	--borderTop:             #4ff;
	--borderLeft:  #4ff;
	--borderRight:                #4ff;
	--borderBottom:        #4ff;
}

button.hilight:not(.nohydrogen):hover, button.hilight:not(.nohydrogen):focus {
	--background:              #0bf9;
	--backgroundTop:           #0bf4;
	--backgroundBottom:        #0bfa;

	--foreground:        #4ff;

	--borderTop:             #4ff;
	--borderLeft:  #4ff;
	--borderRight:                #4ff;
	--borderBottom:        #4ff;
	--decoration: var(--hilightHilight);
}

button.hilight:not(.nohydrogen):active, button.hilight.active {
	--background:              #fa0;
	--backgroundTop:        #fa0;
	--backgroundBottom:           #fa00;


	--foreground:        #fff;


	--borderTop:              #fa0;
	--borderLeft:   #fa0;
	--borderRight:                 #fa0;
	--borderBottom:         #fa0;
}



button.faint:not(.nohydrogen) {
	--background:              #00f2;
	--backgroundTop:           #00f1;
	--backgroundBottom:        #00f4;

	--foreground:        #4afa;

	--borderTop:             #4afa;
	--borderLeft:  #4afa;
	--borderRight:                #4afa;
	--borderBottom:        #4afa;
}

button.faint:not(.nohydrogen):hover, button.faint:not(.nohydrogen):focus {
	--background:              #00f4;
	--backgroundTop:           #00f2;
	--backgroundBottom:        #00f8;

	--foreground:        #4ffa;

	--borderTop:             #4ffa;
	--borderLeft:  #4ffa;
	--borderRight:                #4ffa;
	--borderBottom:        #4ffa;

	--decoration: var(--hilightFaint);
}

button.faint:not(.nohydrogen):active, button.faint.active {
	--background:              #ff0;
	--backgroundTop:        #ff0;
	--backgroundBottom:           #ff00;


	--foreground:        #fff;


	--borderTop:              #ff0;
	--borderLeft:   #ff0;
	--borderRight:                 #ff0;
	--borderBottom:         #ff0;
}


input[type="checkbox"]:not(.nohydrogen) {
	--background:              #00f8;
	--backgroundTop:           #00f0;
	--backgroundBottom:        #00ff;

	--foreground:        #fb0;

	--borderTop:             #fb0;
	--borderLeft:  #fb0;
	--borderRight:                #fb0;
	--borderBottom:        #fb0;

	--decoration: #0000;
}

input[type="checkbox"]:not(.nohydrogen):hover {
	--background:              #00fa;
	--backgroundTop:           #00f4;
	--backgroundBottom:        #00ff;

	--foreground:        #fc0;

	--borderTop:             #fc0;
	--borderLeft:  #fc0;
	--borderRight:                #fc0;
	--borderBottom:        #fc0;

	--decoration: var(--hilight);
}

input[type="checkbox"]:not(.nohydrogen):active {
	--background:              #fffe;
	--backgroundTop:           #fffd;
	--backgroundBottom:        #ffff;

	--foreground:        #000;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}



/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default:not(.nohydrogen) {
	--borderTop:             #fa0;
	--borderLeft:  #fa0;
	--borderRight:                #fa0;
	--borderBottom:        #fa0;
}

button.primary:not(.nohydrogen) {
	--background:              var(--orange);
	--backgroundTop:           var(--orange);
	--backgroundBottom:        var(--orange);

	--foreground:        #fff;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.primary:not(.nohydrogen):active {
	--background:              var(--skyblue);
	--backgroundBottom:        var(--skyblue);
	--backgroundTop:           var(--skyblue);
}

button.success:not(.nohydrogen) {
	--background:              var(--green);
	--backgroundTop:           var(--green);
	--backgroundBottom:        var(--green);

	--foreground:        #000;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.success:not(.nohydrogen):active {
	--background:              var(--pink);
	--backgroundBottom:        var(--pink);
	--backgroundTop:           var(--pink);
}


button.info:not(.nohydrogen) {
	--background:              var(--skyblue);
	--backgroundTop:           var(--skyblue);
	--backgroundBottom:        var(--skyblue);

	--foreground:        #000;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.info:not(.nohydrogen):active {
	--background:              var(--orange);
	--backgroundBottom:        var(--orange);
	--backgroundTop:           var(--orange);
}

button.warning:not(.nohydrogen) {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellow);
	--backgroundBottom:        var(--yellow);

	--foreground:        #000;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.warning:not(.nohydrogen):active {
	--background:              var(--blue);
	--backgroundBottom:        var(--blue);
	--backgroundTop:           var(--blue);
}

button.danger:not(.nohydrogen) {
	--background:              var(--red);
	--backgroundTop:           var(--red);
	--backgroundBottom:        var(--red);

	--foreground:        #ff0;

	--borderTop:             #fff;
	--borderLeft:  #fff;
	--borderRight:                #fff;
	--borderBottom:        #fff;
}
button.danger:not(.nohydrogen):active {
	--background:              var(--cyan);
	--backgroundBottom:        var(--cyan);
	--backgroundTop:           var(--cyan);
}

