@import url("/hydrogen-framework/colourschemes/aoz0ras-windows-classic-general.css") screen;

:root {
	--ButtonAlternateFace: rgb(180 170 150);
	--ButtonDkShadow: rgb(215 215 215);
	--ButtonFace: rgb(180 170 150);
	--ButtonHilight: rgb(240 200 63);
	--ButtonLight: rgb(180 170 150);
	--ButtonShadow: rgb(180 170 150);
	--ButtonText: rgb(67 67 67);
	--ActiveBorder: rgb(180 170 150);
	--AppWorkspace: rgb(140 130 100);
	--Background: rgb(200 170 40);
	--InactiveBorder: rgb(180 170 150);
	--Scrollbar: rgb(240 200 63);
	--Window: rgb(255 240 96);
	--WindowFrame: rgb(200 170 40);
	--WindowText: rgb(67 67 67);
	--ActiveTitle: rgb(240 200 63);
	--GradientActiveTitle: rgb(250 220 63);
	--GradientInactiveTitle: rgb(170 160 150);
	--InactiveTitle: rgb(190 180 150);
	--InactiveTitleText: rgb(255 240 96);
	--TitleText: rgb(255 240 96);
	--Menu: rgb(180 170 150);
	--MenuBar: rgb(180 170 150);
	--MenuHilight: rgb(216 163 0);
	--MenuText: rgb(67 67 67);
	--GrayText: rgb(160 150 140);
	--Hilight: rgb(240 200 63);
	--HilightText: rgb(255 240 96);
	--HotTrackingColor: rgb(253 199 0);
	--InfoText: rgb(67 67 67);
	--InfoWindow: rgb(180 170 150);
}
