/* 
Aoz0ra - Aesthetic

> *plays Sonic CD - Tidal Tempest Zone*
   
> Light and airy
*/

@import url("/hydrogen-framework/colourschemes/aoz0ras-windows-classic-general.css") screen;

:root {
  --ButtonAlternateFace: rgb(255 255 255)
  --ButtonDkShadow: rgb(233 233 233)
  --ButtonFace: rgb(255 255 255)
  --ButtonHilight: rgb(233 233 233)
  --ButtonLight: rgb(233 233 233)
  --ButtonShadow: rgb(233 233 233)
  --ButtonText: rgb(127 127 127)
  --ActiveBorder: rgb(255 255 255)
  --AppWorkspace: rgb(170 170 170)
  --Background: rgb(212 212 212)
  --InactiveBorder: rgb(255 255 255)
  --Scrollbar: rgb(255 255 255)
  --Window: rgb(255 255 255)
  --WindowFrame: rgb(233 233 233)
  --WindowText: rgb(127 127 127)
  --ActiveTitle: rgb(255 255 255)
  --GradientActiveTitle: rgb(255 255 255)
  --GradientInactiveTitle: rgb(233 233 233)
  --InactiveTitle: rgb(233 233 233)
  --InactiveTitleText: rgb(127 127 127)
  --TitleText: rgb(127 127 127)
  --Menu: rgb(255 255 255)
  --MenuBar: rgb(255 255 255)
  --MenuHilight: rgb(212 212 212)
  --MenuText: rgb(127 127 127)
  --GrayText: rgb(191 191 191)
  --Hilight: rgb(233 233 233)
  --HilightText: rgb(127 127 127)
  --HotTrackingColor: rgb(88 143 199)
  --InfoText: rgb(127 127 127)
  --InfoWindow: rgb(255 255 255)
}
