/* AOZ0RA - SYSTEM COLOURS */
/* Yes I know these are deprecated but they're still allowed and still work */


:root {
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        Window;
	--backgroundHilight: ButtonFace;
	--backgroundFaint:   Window;

	--foreground:        WindowText;
	--foregroundHilight: ButtonText;
	--foregroundFaint:   GrayText;


	--border: WindowFrame;
	--borderTop:             ThreeDHighlight;
	--borderLeft:  ThreeDShadow;
	--borderRight:                ThreeDLightShadow;
	--borderBottom:        ThreeDDarkShadow;


	--borderRadius: 3px;



  --gray:      #888;
	--red:       #c44;
	--orange:    #ca4;
	--yellow:    #cc4;
	--lime:      #ac4;
	--green:     #4c4;
	--aquagreen: #4ca;
	--cyan:      #4bc;
	--skyblue:   #4ac;
	--blue:      #44c;
	--purple:    #a4c;
	--pink:      #c4c;
	--hotpink:   #c4a;

  --grayMuted:      #999;
	--redMuted:       #a66;
	--orangeMuted:    #a86;
	--yellowMuted:    #aa6;
	--limeMuted:      #8a6;
	--greenMuted:     #6a6;
	--aquagreenMuted: #6a8;
	--cyanMuted:      #68a;
	--skyblueMuted:   #67a;
	--blueMuted:      #66a;
	--purpleMuted:    #86a;
	--pinkMuted:      #a6a;
	--hotpinkMuted:   #a68;

  --grayHilight:      #666;
	--redHilight:       #f22;
	--orangeHilight:    #fc2;
	--yellowHilight:    #ff2;
	--limeHilight:      #bf2;
	--greenHilight:     #2f2;
	--aquagreenHilight: #2fb;
	--cyanHilight:      #2ef;
	--skyblueHilight:   #2bf;
	--blueHilight:      #22f;
	--purpleHilight:    #b2f;
	--pinkHilight:      #f2f;
	--hotpinkHilight:   #f2b;

  --grayFaint:      #888a;
	--redFaint:       #c44a;
	--orangeFaint:    #ca4a;
	--yellowFaint:    #cc4a;
	--limeFaint:      #ac4a;
	--greenFaint:     #4c4a;
	--aquagreenFaint: #4caa;
	--cyanFaint:      #4bca;
	--skyblueFaint:   #4aca;
	--blueFaint:      #44ca;
	--purpleFaint:    #a4ca;
	--pinkFaint:      #c4ca;
	--hotpinkFaint:   #c4aa;


	--DEFAULT_ACCENT: var(--blue);
	--DEFAULT_ACCENT_HILIGHT: var(--blueHilight);
    
    --DEFAULT_HILIGHT: var(--blue);
	--DEFAULT_HILIGHT_HILIGHT: var(--blueHilight);
    --DEFAULT_HILIGHT_FAINT: var(--blueFaint);
    
    --DEFAULT_SELECTION_BG: Highlight;
    
    

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
    
    --hilight: var(--DEFAULT_HILIGHT);
	--hilightHilight: var(--DEFAULT_HILIGHT_HILIGHT);
	--hilightFaint: var(--DEFAULT_HILIGHT_FAINT);
    
    --selectionBackground: var(--DEFAULT_SELECTION_BACKGROUND);
    --selectionForeground: HighlightText;
}


/**********************************
**********************************/

a:link {
  --foreground: var(--blue);
}

/* visited link */
a:visited {
  --foreground: var(--hotpink);
}

/* mouse over link */
a:hover, a:focus {
  --foreground: var(--blueHilight);
}

/* selected link */
a:active {
  --foreground: var(--skyblue);
}


/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: Menu;
	--backgroundTop: Menu;
	--backgroundBottom: Menu;

	--foreground: WindowText;
}

div.navbar a:link {
	--foreground: var(--skyBlue);
}

.navbar .dropdown .dropdownbutton {
	--background:              ButtonFace;
	--backgroundTop:           ButtonFace;
	--backgroundBottom:        ButtonFace;

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #0000;
}



div.item:hover {
	--background: Highlight !important;
    --foreground: HighlightText;
}



div.header {
    --background: ActiveCaption;
    --backgroundHilight: ActiveCaption;
    --foreground: ActiveCaptionText;
}



button:not(.nohydrogen), input[type=color]:not(.nohydrogen) {
	--background:              ButtonFace;
	--backgroundTop:           ButtonFace;
	--backgroundBottom:        ButtonFace;

	--decoration: #0000;
}

button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus {
	--decoration: var(--hilight);
}

button:not(.nohydrogen):active, button.active,
input[type=color]:not(.nohydrogen):active {
	--background:              ButtonFace;
	--backgroundTop:        ButtonFace;
	--backgroundBottom:           ButtonFace;

	--borderTop:              ThreeDDarkShadow;
	--borderLeft:   ThreeDLightShadow;
	--borderRight:                 ThreeDShadow;
	--borderBottom:         ThreeDHighlight;
}

input[type="checkbox"]:not(.nohydrogen) {
	--background:              Window;
	--backgroundTop:           Window;
	--backgroundBottom:        Window;

	--decoration: #0000;
    
    --borderTop:              ThreeDDarkShadow;
	--borderLeft:   ThreeDLightShadow;
	--borderRight:                 ThreeDShadow;
	--borderBottom:         ThreeDHighlight;
}

input[type="checkbox"]:not(.nohydrogen):hover, input[type="checkbox"]:not(.nohydrogen):focus {
	--decoration: var(--hilight);
}

input[type="checkbox"]:not(.nohydrogen):active {
	--background:              Window;
	--backgroundTop:        Window;
	--backgroundBottom:           Window;

	--borderTop:              ThreeDDarkShadow;
	--borderLeft:   ThreeDLightShadow;
	--borderRight:                 ThreeDShadow;
	--borderBottom:         ThreeDHighlight;
}



button:not(.nohydrogen).hilight {
	--background:       ButtonHighlight;
	--backgroundTop:    ButtonHighlight;
	--backgroundBottom: ButtonHighlight;
	
	--foreground: ButtonText;
}

button.hilight:not(.nohydrogen):hover, button.hilight:not(.nohydrogen):focus {
	--decoration: var(--hilightHilight);
}

button.hilight:not(.nohydrogen):active, button.hilight.active {
	--background:       ButtonFace;
	--backgroundTop: ButtonFace;
	--backgroundBottom:    ButtonFace;
	
	--borderTop:              ThreeDDarkShadow;
	--borderLeft:   ThreeDLightShadow;
	--borderRight:                 ThreeDShadow;
	--borderBottom:         ThreeDHighlight;
}



button.faint:not(.nohydrogen) {
	--background:         ButtonFace;
	--backgroundTop:      ButtonFace;
	--backgroundBottom:   ButtonFace;
	--foreground:   ButtonText;
	--borderTop:             ButtonFace;
	--borderLeft:  ButtonFace;
	--borderRight:                ButtonFace;
	--borderBottom:        ButtonFace;
}

button.faint:not(.nohydrogen):hover, button.faint:not(.nohydrogen):focus {
	--decoration: var(--hilightFaint);
}

button.faint:not(.nohydrogen):active, button.faint.active {
	/*--backgroundBottom:      #f8f8f888;
	--foreground:   #444c;
	--borderTop:              #eee8;
	--borderLeft:   #fefefe88;
	--borderRight:                 #fefefe88;
	--borderBottom:         #fff8;*/
	
	--background:         ButtonFace;
	--backgroundTop:      ButtonFace;
	--backgroundBottom:   ButtonFace;
	--borderTop:              ThreeDDarkShadow;
	--borderLeft:   ThreeDLightShadow;
	--borderRight:                 ThreeDShadow;
	--borderBottom:         ThreeDHighlight;
}





/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default:not(.nohydrogen) {
	--borderTop:             Highlight;
	--borderLeft:  Highlight;
	--borderRight:                Highlight;
	--borderBottom:        Highlight;
}

button.primary:not(.nohydrogen) {
	--background:              var(--blue);
	--backgroundTop:           var(--blueFaint);
	--backgroundBottom:        var(--blue);

	--foreground:        ButtonText;
}
button.primary:not(.nohydrogen):active {
	--background:              var(--blue);
	--backgroundBottom:        var(--blueFaint);
	--backgroundTop:           var(--blue);
}

button.success:not(.nohydrogen) {
	--background:              var(--green);
	--backgroundTop:           var(--greenFaint);
	--backgroundBottom:        var(--green);

	--foreground:        ButtonText;
}
button.success:not(.nohydrogen):active {
	--background:              var(--green);
	--backgroundBottom:        var(--greenFaint);
	--backgroundTop:           var(--green);
}


button.info:not(.nohydrogen) {
	--background:              var(--skyblue);
	--backgroundTop:           var(--cyanFaint);
	--backgroundBottom:        var(--cyan);

	--foreground:        ButtonText;
}
button.info:not(.nohydrogen):active {
	--background:              var(--cyan);
	--backgroundBottom:        var(--cyanFaint);
	--backgroundTop:           var(--cyan);
}

button.warning:not(.nohydrogen) {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellowFaint);
	--backgroundBottom:        var(--yellow);

	--foreground:        ButtonText;
}
button.warning:not(.nohydrogen):active {
	--background:              var(--yellow);
	--backgroundBottom:        var(--yellowFaint);
	--backgroundTop:           var(--yellow);
}

button.danger:not(.nohydrogen) {
	--background:              var(--red);
	--backgroundTop:           var(--redFaint);
	--backgroundBottom:        var(--red);

	--foreground:        ButtonText;
}
button.danger:not(.nohydrogen):active {
	--background:              var(--red);
	--backgroundBottom:        var(--redFaint);
	--backgroundTop:           var(--red);
}



/* ##"""""""""""""""""""############### */
/* ## RESPONSIVE DESIGN ############### */
/* ##...................############### */



/* Mobile users */

@media screen and (any-pointer: coarse) {
}






/* eXtra Small screens */
@media screen and (max-width: 600px) {
}






/* Small screens */
@media screen and (min-width: 601px) and (max-width: 768px) {
}






/* Medium screens */
@media screen and (min-width: 769px) and (max-width: 992px) {
}








/* Large screens */
@media screen and (min-width: 993px) and (max-width: 1200px) {
}









/* eXtra-Large screens */
@media screen and (min-width: 1201px) {
}










/* ###################################### */
/* ## RESPONDING TO ACCESSIBILITY ####### */
/* ###################################### */

/* Empty for now. */

