:root {
	--artifacts-black:  #040204;
	--artifacts-blue:   #040284;
	
	--a198w-dark:       #840284;
	--a198w-mid:        #fa02fa;
	--a198w-light:      #04fcfa;
	
	--a199x-dark:       #840284;
	--a199x-mid:        #fa0204;
	--a199x-light:      #fafc04;
	
	--a200y-dark:       #848284;
	--a200y-mid:        #04fc04;
	--a200y-light:      #fcfa04;
	
	--a201z-dark:       #0402f4;
	--a201z-mid:        #848284;
	--a201z-light:      #04fcfa;
	
	--artifacts-white:  #fafcfa;
	
	
	/******************
	**  MAIN COLORS  **
	*******************/

	--background:        var(--artifacts-black);
	--backgroundHilight: var(--artifacts-blue);
	--backgroundFaint:   var(--artifacts-black);
	
	--backgroundSecondary: var(--artifacts-blue);

	--foreground:        var(--artifacts-light);
	--foregroundHilight: var(--artifacts-white);
	--foregroundFaint:   var(--artifacts-light);


	--border: var(--artifacts-mid);
	--borderTop:             var(--artifacts-mid);
	--borderLeft:  var(--artifacts-mid);
	--borderRight:                var(--artifacts-mid);
	--borderBottom:        var(--artifacts-mid);

--ButtonHilight: var(--artifacts-white);
--ButtonLight: var(--artifacts-dark);
--ButtonFace: var(--artifacts-black);
--ButtonShadow: var(--artifacts-light);
--ButtonDkShadow: var(--artifacts-blue);


	--gray:      var(--artifacts-mid);
	--red:       var(--artifacts-mid);
	--orange:    var(--artifacts-mid);
	--yellow:    var(--artifacts-light);
	--lime:      var(--artifacts-light);
	--green:     var(--artifacts-mid);
	--aquagreen: var(--artifacts-light);
	--cyan:      var(--artifacts-light);
	--skyblue:   var(--artifacts-mid);
	--blue:      var(--artifacts-dark);
	--purple:    var(--artifacts-dark);
	--pink:      var(--artifacts-mid);
	--hotpink:   var(--artifacts-mid);

	--grayMuted:      var(--artifacts-mid);
	--redMuted:       var(--artifacts-mid);
	--orangeMuted:    var(--artifacts-mid);
	--yellowMuted:    var(--artifacts-mid);
	--limeMuted:      var(--artifacts-mid);
	--greenMuted:     var(--artifacts-mid);
	--aquagreenMuted: var(--artifacts-mid);
	--cyanMuted:      var(--artifacts-mid);
	--skyblueMuted:   var(--artifacts-mid);
	--blueMuted:      var(--artifacts-mid);
	--purpleMuted:    var(--artifacts-mid);
	--pinkMuted:      var(--artifacts-mid);
	--hotpinkMuted:   var(--artifacts-mid);

	--grayHilight:      var(--artifacts-light);
	--redHilight:       var(--artifacts-light);
	--orangeHilight:    var(--artifacts-light);
	--yellowHilight:    var(--artifacts-light);
	--limeHilight:      var(--artifacts-light);
	--greenHilight:     var(--artifacts-light);
	--aquagreenHilight: var(--artifacts-light);
	--cyanHilight:      var(--artifacts-light);
	--skyblueHilight:   var(--artifacts-light);
	--blueHilight:      var(--artifacts-light);
	--purpleHilight:    var(--artifacts-light);
	--pinkHilight:      var(--artifacts-light);
	--hotpinkHilight:   var(--artifacts-light);

	--grayFaint:      var(--artifacts-dark);
	--redFaint:       var(--artifacts-dark);
	--orangeFaint:    var(--artifacts-dark);
	--yellowFaint:    var(--artifacts-dark);
	--limeFaint:      var(--artifacts-dark);
	--greenFaint:     var(--artifacts-dark);
	--aquagreenFaint: var(--artifacts-dark);
	--cyanFaint:      var(--artifacts-dark);
	--skyblueFaint:   var(--artifacts-dark);
	--blueFaint:      var(--artifacts-dark);
	--purpleFaint:    var(--artifacts-dark);
	--pinkFaint:      var(--artifacts-dark);
	--hotpinkFaint:   var(--artifacts-dark);


	--DEFAULT_ACCENT: var(--blue);
	--DEFAULT_ACCENT_HILIGHT: var(--blueHilight);
    
    --DEFAULT_HILIGHT: var(--blue);
	--DEFAULT_HILIGHT_HILIGHT: var(--blueHilight);
    --DEFAULT_HILIGHT_FAINT: var(--blueFaint);
    
    --DEFAULT_SELECTION_BG: var(--blue);
    
    

	--accent: var(--DEFAULT_ACCENT);
	--accentHilight: var(--DEFAULT_ACCENT_HILIGHT);
    
    --hilight: var(--DEFAULT_HILIGHT);
	--hilightHilight: var(--DEFAULT_HILIGHT_HILIGHT);
	--hilightFaint: var(--DEFAULT_HILIGHT_FAINT);
    
    --selectionBackground: var(--DEFAULT_SELECTION_BACKGROUND);
    --selectionForeground: var(--foreground);
}


/**********************************
**********************************/

a:link {
  --foreground: var(--blue);
}

/* visited link */
a:visited {
  --foreground: var(--hotpink);
}

/* mouse over link */
a:hover, a:focus {
  --foreground: var(--skyblue);
}

/* selected link */
a:active {
  --foreground: var(--blue);
}


/* NAVIGATION BAR */

div.navbar {
	/* 	--background:        #eee; */
	/* 	--backgroundTop:     #fff; */
	/* 	--backgroundBottom:  #e0e0e0; */

	--background: var(--artifacts-black);
	--backgroundTop: var(--artifacts-blue);
	--backgroundBottom: var(--artifacts-black);

	--foreground: var(--artifacts-light);

	--border: var(--artifacts-mid);
	--borderTop:             var(--artifacts-mid);
	--borderLeft:  var(--artifacts-mid);
	--borderRight:                var(--artifacts-mid);
	--borderBottom:        var(--artifacts-mid);
}

.navbar a:link {
	--foreground: var(--artifacts-mid);
}

.navbar .dropdown .dropdownbutton {
	--background:              var(--artifacts-black);
	--backgroundTop:           var(--artifacts-black);
	--backgroundBottom:        var(--artifacts-black);

	--foreground:        var(--artifacts-light);

	--border: var(--artifacts-mid);
	--borderTop:             var(--artifacts-mid);
	--borderLeft:  var(--artifacts-mid);
	--borderRight:                var(--artifacts-mid);
	--borderBottom:        var(--artifacts-mid);

	--decoration: #0000;
}




div.drop-content div.item {
	--background: #0000;
	--foreground: var(--artifacts-light);
}



div.item:hover {
	--background: var(--artifacts-dark) !important;
}




button:not(.nohydrogen), input[type=color]:not(.nohydrogen),
input[type="checkbox"]:not(.nohydrogen) {
	--background:              var(--artifacts-blue);
	--backgroundTop:           var(--artifacts-blue);
	--backgroundBottom:        var(--artifacts-black);

	--foreground:        var(--artifacts-light);

	--border: var(--artifacts-mid);
	--borderTop:             var(--artifacts-mid);
	--borderLeft:  var(--artifacts-mid);
	--borderRight:                var(--artifacts-mid);
	--borderBottom:        var(--artifacts-mid);


	--decoration: #0000;
}

button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus,
input[type="checkbox"]:not(.nohydrogen):hover, input[type="checkbox"]:not(.nohydrogen):focus {

	--decoration: var(--hilight);
}

button:not(.nohydrogen):active, button.active,
input[type=color]:not(.nohydrogen):active,
input[type="checkbox"]:not(.nohydrogen):active {
	--background:              var(--artifacts-black);
	--backgroundTop:           var(--artifacts-black);
	--backgroundBottom:        var(--artifacts-blue);

	--foreground:        var(--artifacts-light);

	--border: var(--artifacts-mid);
	--borderTop:             var(--artifacts-midmid);
	--borderLeft:  var(--artifacts-mid);
	--borderRight:                var(--artifacts-mid);
	--borderBottom:        var(--artifacts-mid);
}



button.hilight:not(.nohydrogen) {
	--background:              var(--artifacts-dark);
	--backgroundTop:           var(--artifacts-dark);
	--backgroundBottom:        var(--artifacts-black);

	--foreground:        var(--artifacts-white);

	--border: var(--artifacts-light);
	--borderTop:             var(--artifacts-light);
	--borderLeft:  var(--artifacts-light);
	--borderRight:                var(--artifacts-light);
	--borderBottom:        var(--artifacts-light);
}

button.hilight:not(.nohydrogen):hover, button.hilight:not(.nohydrogen):focus {
	
	--decoration: var(--hilightHilight);
}

button.hilight:not(.nohydrogen):active, button.hilight.active {
	--background:              var(--artifacts-blue);
	--backgroundTop:           var(--artifacts-black);
	--backgroundBottom:        var(--artifacts-dark);

	--foreground:        var(--artifacts-light);

	--border: var(--artifacts-light);
	--borderTop:             var(--artifacts-light);
	--borderLeft:  var(--artifacts-light);
	--borderRight:                var(--artifacts-light);
	--borderBottom:        var(--artifacts-light);
}



button.faint:not(.nohydrogen) {
	--background:              var(--artifacts-black);
	--backgroundTop:           var(--artifacts-black);
	--backgroundBottom:        var(--artifacts-black);

	--foreground:        var(--artifacts-light);

	--border: var(--artifacts-dark);
	--borderTop:             var(--artifacts-dark);
	--borderLeft:  var(--artifacts-dark);
	--borderRight:                var(--artifacts-dark);
	--borderBottom:        var(--artifacts-dark);
}

button.faint:not(.nohydrogen):hover, button.faint:not(.nohydrogen):focus {
	
	--decoration: var(--hilightFaint);
}

button.faint:not(.nohydrogen):active, button.faint.active {
	--background:              var(--artifacts-black);
	--backgroundTop:           var(--artifacts-black);
	--backgroundBottom:        var(--artifacts-blue);

	--foreground:        var(--artifacts-light);

	--border: var(--artifacts-mid);
	--borderTop:             var(--artifacts-mid);
	--borderLeft:  var(--artifacts-mid);
	--borderRight:                var(--artifacts-mid);
	--borderBottom:        var(--artifacts-mid);
}



/* ##"""""""""""""##################### */
/* ## BOOTSTRAP 3 ##################### */
/* ##.............##################### */

/* Buttons */

button.default:not(.nohydrogen) {
	--border: var(--artifacts-light);
	--borderTop:             var(--artifacts-mid);
	--borderLeft:  var(--artifacts-light);
	--borderRight:                var(--artifacts-light);
	--borderBottom:        var(--artifacts-white);
}

button.primary:not(.nohydrogen) {
	--background:              var(--blue);
	--backgroundTop:           var(--blueFaint);
	--backgroundBottom:        var(--blue);

	--foreground:        var(--artifacts-white);

	--borderTop:             var(--artifacts-white);
	--borderLeft:  var(--artifacts-white);
	--borderRight:                var(--artifacts-white);
	--borderBottom:        var(--artifacts-white;
}
button.primary:not(.nohydrogen):active {
	--background:              var(--blue);
	--backgroundBottom:        var(--blueFaint);
	--backgroundTop:           var(--blue);
}

button.success:not(.nohydrogen) {
	--background:              var(--green);
	--backgroundTop:           var(--greenFaint);
	--backgroundBottom:        var(--green);

	--foreground:        var(--artifacts-white);

	--borderTop:             var(--artifacts-white);
	--borderLeft:  var(--artifacts-white);
	--borderRight:                var(--artifacts-white);
	--borderBottom:        var(--artifacts-white;
}
button.success:not(.nohydrogen):active {
	--background:              var(--green);
	--backgroundBottom:        var(--greenFaint);
	--backgroundTop:           var(--green);
}


button.info:not(.nohydrogen) {
	--background:              var(--skyblue);
	--backgroundTop:           var(--cyanFaint);
	--backgroundBottom:        var(--cyan);

	--foreground:        var(--artifacts-blue);

	--borderTop:             var(--artifacts-white);
	--borderLeft:  var(--artifacts-white);
	--borderRight:                var(--artifacts-white);
	--borderBottom:        var(--artifacts-white;
}
button.info:not(.nohydrogen):active {
	--background:              var(--cyan);
	--backgroundBottom:        var(--cyanFaint);
	--backgroundTop:           var(--cyan);
}

button.warning:not(.nohydrogen) {
	--background:              var(--yellow);
	--backgroundTop:           var(--yellowFaint);
	--backgroundBottom:        var(--yellow);

	--foreground:        var(--artifacts-black);

	--borderTop:             var(--artifacts-white);
	--borderLeft:  var(--artifacts-white);
	--borderRight:                var(--artifacts-white);
	--borderBottom:        var(--artifacts-white;
}
button.warning:not(.nohydrogen):active {
	--background:              var(--yellow);
	--backgroundBottom:        var(--yellowFaint);
	--backgroundTop:           var(--yellow);
}

button.danger:not(.nohydrogen) {
	--background:              var(--red);
	--backgroundTop:           var(--redFaint);
	--backgroundBottom:        var(--red);

	--foreground:        var(--artifacts-light);

	--borderTop:             var(--artifacts-white);
	--borderLeft:  var(--artifacts-white);
	--borderRight:                var(--artifacts-white);
	--borderBottom:        var(--artifacts-white;
}
button.danger:not(.nohydrogen):active {
	--background:              var(--red);
	--backgroundBottom:        var(--redFaint);
	--backgroundTop:           var(--red);
}

