@import url("/hydrogen-framework/colourschemes/aoz0ras-artifacts-general.css") screen;

:root {
	--artifacts-dark:   var(--a199x-dark);
	--artifacts-mid:    var(--a199x-mid);
	--artifacts-light:  var(--a199x-light);
}
