@import url("/hydrogen-framework/colourschemes/aoz0ras-windows-classic-general.css") screen;

:root {
	--ButtonAlternateFace: rgb(180 170 150);
	--ButtonDkShadow: rgb(174 166 158);
	--ButtonFace: rgb(200 180 160);
	--ButtonHilight: rgb(245 207 81);
	--ButtonLight: rgb(200 180 160);
	--ButtonShadow: rgb(200 180 160);
	--ButtonText: rgb(50 54 67);
	--ActiveBorder: rgb(200 180 160);
	--AppWorkspace: rgb(140 130 100);
	--Background: rgb(200 170 40);
	--InactiveBorder: rgb(200 180 160);
	--Scrollbar: rgb(232 197 84);
	--Window: rgb(227 218 130);
	--WindowFrame: rgb(200 170 40);
	--WindowText: rgb(50 54 67);
	--ActiveTitle: rgb(215 185 51);
	--GradientActiveTitle: rgb(255 206 46);
	--GradientInactiveTitle: rgb(183 170 118);
	--InactiveTitle: rgb(166 159 104);
	--InactiveTitleText: rgb(238 225 109);
	--TitleText: rgb(244 231 113);
	--Menu: rgb(180 170 150);
	--MenuBar: rgb(180 170 150);
	--MenuHilight: rgb(216 163 0);
	--MenuText: rgb(50 54 67);
	--GrayText: rgb(160 150 140);
	--Hilight: rgb(200 170 40);
	--HilightText: rgb(255 240 96);
	--HotTrackingColor: rgb(189 166 66);
	--InfoText: rgb(50 54 67);
	--InfoWindow: rgb(200 180 160);
}
