/******* ******* ******* ******* ******* ******* ******* ******* ******* *******
**                                                                            **
**    Aoz0ra - Accessible                           aoz0ras-accessible.css    **
**                                                                            **
******* ******* ******* ******* ******* ******* ******* ******* ******* *******/




/* Debug mode: */
/* *:hover {box-shadow: 0 0 0 1px #000,0 0 4px 0 #fff !important;} */



/*******************************************************************************
*******************************************************************************/

:root {    
    --borderWidth: 0.2em;
    --borderRadius: 0.8em;
}





/* HEADERS */

/* NAVIGATION BAR - UNIVERSAL STYLING */

div.navbar {
	background: var(--background);
  box-shadow: none;
	height: 2em;
	padding-top: 0.4em;
}

.navbar .dropdown .dropdownbutton {
	background: var(--background);
    box-shadow: none;
}

div.drop-content {
    box-shadow: none;
}






div.header {
	background: var(--backgroundHilight);
}

button, input[type="checkbox"],
input[type=color] {
	background: var(--background);

  box-shadow: 0px 0px 0px calc(var(--borderWidth) * 2) var(--decoration);
    
    padding: 0.667rem;
}

input[type="checkbox"],
input[type=color] {
    --borderRadius: 0;
}

::-moz-focus-inner {border:0;}


button:hover, button:focus,
input[type="checkbox"]:hover, input[type="checkbox"]:focus,
input[type=color]:hover, input[type=color]:focus {
	box-shadow: 0px 0px 0px var(--borderWidth) var(--decoration);
}

button:active, button.active, input[type="checkbox"]:active,
input[type=color]:active {
	background: var(--background);
}






/* ##"""""""""""""""""""############### */
/* ## RESPONSIVE DESIGN ############### */
/* ##...................############### */





/* eXtra Small screens */
@media (max-width: 600px) {
}






/* Small screens */
@media (min-width: 601px) and (max-width: 768px) {
}






/* Medium screens */
@media (min-width: 769px) and (max-width: 992px) {
}








/* Large screens */
@media (min-width: 993px) and (max-width: 1200px) {
}









/* eXtra-Large screens */
@media (min-width: 1201px) {
}










/* ###################################### */
/* ## RESPONDING TO ACCESSIBILITY ####### */
/* ###################################### */


/* empty. */


