:root {
--fontSizeH1: 3em;
--fontSizeH2: 2.5em;
--fontSizeH3: 2em;
--fontSizeH4: 1.72em;
--fontSizeH5: 1.44em;
--fontSizeH6: 1.2em;
}

body {
  background: var(--backgroundSecondary);
}

div.page {
	margin: var(--pagePaddingTop) var(--pagePaddingRight) var(--pagePaddingBottom) var(--pagePaddingLeft);
	padding: 0;
	
	background: var(--background);
	
	box-shadow: 0px 3px 6px 0px #0002, 0px 6px 6px -6px #0001;
}

div.header {
	--background: var(--backgroundSecondary);

  background: radial-gradient(farthest-side at 50% 0%, var(--backgroundHilight), #fff0 no-repeat, linear-gradient(to bottom, var(--backgroundHilight), #fff0) no-repeat, var(--backgroundSecondary);
	background-size: 100vw 70px, 100vw 110px;
	background-attachment: fixed;

}

h1:not(.nohydrogen),
h2:not(.nohydrogen),
h3:not(.nohydrogen),
h4:not(.nohydrogen),
h5:not(.nohydrogen),
h6:not(.nohydrogen) {
  color: var(--accent);
	text-shadow: 0px 1px 3px var(--accent);
}

h1:not(.nohydrogen) {
  font-weight: 100;
}

h2:not(.nohydrogen) {
  font-weight: 200;
}

h3:not(.nohydrogen) {
  font-weight: 200;
}

h4:not(.nohydrogen) {
  font-weight: 300;
}

h5:not(.nohydrogen) {
  font-weight: 300;
}

h6:not(.nohydrogen) {
  font-weight: 400;
}



input[type="checkbox"]:not(.nohydrogen):active {
	--foreground: var(--grayFaint);
}

input[type="checkbox"]:not(.nohydrogen):active:before {
	opacity: 100%;
}

input[type="checkbox"]:not(.nohydrogen):checked {
	--background: var(--accent);
	--backgroundTop: var(--accentHilight);
	--backgroundBottom: var(--accent);
	--foreground: var(--selectionForeground);
}

input[type="checkbox"]:not(.nohydrogen):checked:active {
	--background: var(--accentHilight);
	--backgroundTop: var(--accent);
	--backgroundBottom: var(--accentHilight);
	--foreground: var(--accentHilight);
}



div.floating-toc-m {
	z-index: 0;
}

div.navbar {
	z-index: 1;
}

button:not(.nohydrogen) {
	box-shadow: 0px 0px 12px 2px var(--decoration), 0px 1px 2px 0px #0005, 0px 2px 2px -2px #0003;
}
