/******* ******* ******* ******* ******* ******* ******* ******* ******* *******
**                                                                            **
**    Aoz0ra - Flat                                       aoz0ras-flat.css    **
**                                                                            **
******* ******* ******* ******* ******* ******* ******* ******* ******* *******/




/* Debug mode: */
/* *:hover {box-shadow: 0 0 0 1px #000,0 0 4px 0 #fff !important;} */



/*******************************************************************************
*******************************************************************************/


*:not(.nohydrogen) {
	/* Why is this not standard?!  Internet Explorer was the only one to do this. */
	box-sizing: border-box;
	
	/* Allow for instant customization of foreground colors */
	color: var(--foreground);
}

/* override the spacing normally set by browsers */
body {
	margin: 0;

/* NAVIGATION BAR - UNIVERSAL STYLING */

div.navbar {
	background: var(--background);
}

.navbar .dropdown .dropdownbutton {
	background: var(--background);
}






div.header {
	background: var(--backgroundHilight);
}

button:not(.nohydrogen), input[type="checkbox"]:not(.nohydrogen),
input[type=color]:not(.nohydrogen) {
	background: var(--background);

  box-shadow: 0px 0px 10px 1px var(--decoration), 0px 0px 2px 0px #0005, 0px 0px 2px -2px #0003;
}

::-moz-focus-inner {border:0;}


button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type="checkbox"]:not(.nohydrogen):hover, input[type="checkbox"]:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus {
	box-shadow: 0px 0px 1px 1px var(--decoration), 0px 0px 2px 0px #0000, 0px 0px 2px -2px #0000;
}

button:not(.nohydrogen):active, button.active, input[type="checkbox"]:not(.nohydrogen):active,
input[type=color]:not(.nohydrogen):active {
	background: var(--background);
}


