:root {
--fontSizeH1: 3em;
--fontSizeH2: 2.5em;
--fontSizeH3: 2em;
--fontSizeH4: 1.72em;
--fontSizeH5: 1.44em;
--fontSizeH6: 1.2em;
}


body {
	background: var(--backgroundSecondary);
}


div.page {
	margin: var(--pagePaddingTop) var(--pagePaddingRight) var(--pagePaddingBottom) var(--pagePaddingLeft);
	padding: 0;
	
	background: var(--background);
	
	box-shadow: 0px 3px 6px 0px #0002, 0px 6px 6px -6px #0001;
}

div.header {
	--background: var(--backgroundSecondary);
}

h1:not(.nohydrogen),
h2:not(.nohydrogen),
h3:not(.nohydrogen),
h4:not(.nohydrogen),
h5:not(.nohydrogen),
h6:not(.nohydrogen) {
  color: var(--accentColor);
}

h1:not(.nohydrogen) {
  font-weight: 200;
}

h2:not(.nohydrogen) {
  font-weight: 200;
}

h3:not(.nohydrogen) {
  font-weight: 200;
}

h4:not(.nohydrogen) {
  font-weight: 300;
}

h5:not(.nohydrogen) {
  font-weight: 300;
}

h6:not(.nohydrogen) {
  font-weight: 
}
