/******* ******* ******* ******* ******* ******* ******* ******* ******* *******
**                                                                            **
**    Aoz0ra - Accessible                           aoz0ras-accessible.css    **
**                                                                            **
******* ******* ******* ******* ******* ******* ******* ******* ******* *******/




/* Debug mode: */
/* *:hover {box-shadow: 0 0 0 1px #000,0 0 4px 0 #fff !important;} */



/*******************************************************************************
*******************************************************************************/

:root {
    --fontSize: 1.1rem;
    --fontSizeH1: 2em;
	--fontSizeH2: 1.8em;
	--fontSizeH3: 1.6em;
	--fontSizeH4: 1.4em;
	--fontSizeH5: 1.3em;
	--fontSizeH6: 1.2em;
    
    --borderWidth: 0.2rem;
    --borderRadius: 0.8rem;
}





/* HEADERS */

/* NAVIGATION BAR - UNIVERSAL STYLING */

div.navbar {
	background: var(--background);
  box-shadow: none;
	height: 2em;
	padding-top: 0.4em;
}

.navbar .dropdown .dropdownbutton {
	background: var(--background);
    box-shadow: none;
}

div.drop-content {
    box-shadow: none;
}






div.header {
	background: var(--backgroundHilight);
}

button:not(.nohydrogen), input[type="checkbox"]:not(.nohydrogen),
input[type=color]:not(.nohydrogen) {
	background: var(--background);

  box-shadow: 0px 0px 0px calc(var(--borderWidth) * 2) var(--decoration);
    
    padding: 0.667rem;
}

input[type="checkbox"]:not(.nohydrogen),
input[type=color]:not(.nohydrogen) {
    --borderRadius: 0;
}

::-moz-focus-inner {border:0;}


button:not(.nohydrogen):hover, button:not(.nohydrogen):focus,
input[type="checkbox"]:not(.nohydrogen):hover, input[type="checkbox"]:not(.nohydrogen):focus,
input[type=color]:not(.nohydrogen):hover, input[type=color]:not(.nohydrogen):focus {
	box-shadow: 0px 0px 0px var(--borderWidth) var(--decoration);
}

button:not(.nohydrogen):active, button.active, input[type="checkbox"]:not(.nohydrogen):active,
input[type=color]:not(.nohydrogen):active {
	background: var(--background);
}






/* ##"""""""""""""""""""############### */
/* ## RESPONSIVE DESIGN ############### */
/* ##...................############### */





/* eXtra Small screens */
@media (max-width: 600px) {
}






/* Small screens */
@media (min-width: 601px) and (max-width: 768px) {
}






/* Medium screens */
@media (min-width: 769px) and (max-width: 992px) {
}








/* Large screens */
@media (min-width: 993px) and (max-width: 1200px) {
}









/* eXtra-Large screens */
@media (min-width: 1201px) {
}










/* ###################################### */
/* ## RESPONDING TO ACCESSIBILITY ####### */
/* ###################################### */


/* empty. */


